<div class="hero">
    <div class="hero1 hero-article" title="Voir l'article">
        <div class="article1">
            <div class="article-tag">Littérature</div>
        </div>
        <div class="article2">
            <h3 class="article-title">Charles Bukowski : Le Poète de la Réalité Brute et du Quotidien</h3>
        </div>
    </div>
    <div class="hero2 hero-article" title="Voir l'article">
        <div class="article1">
            <div class="article-tag">UI/UX</div>
        </div>
        <div class="article2">
            <h3 class="article-title">Dark Mode vs Light Mode : Quel Impact sur l’Expérience Utilisateur ?</h3>
        </div>
    </div>
    <div class="hero3 hero-article" title="Voir l'article">
        <div class="article1">
            <div class="article-tag">Histoire</div>
        </div>
        <div class="article2">
            <h3 class="article-title">La Chute du Mur de Berlin : Un Tournant dans l'Histoire Mondiale</h3>
        </div>
    </div>
    <div class="hero4 hero-article" title="Voir l'article">
        <div class="article1">
            <div class="article-tag">Littérature</div>
        </div>
        <div class="article2">
            <h3 class="article-title">Friedrich Nietzsche : Philosophie, Rébellion et L'Homme au-delà du Bien et du Mal</h3>
        </div>
    </div>
    <div class="hero5 hero-article" title="Voir l'article">
        <div class="article1">
            <div class="article-tag">Littérature</div>
        </div>
        <div class="article2">
            <h3 class="article-title">Le Livre des Cinq Anneaux : Stratégie et Philosophie d'un Maître Samouraï</h3>
        </div>
    </div>
    <div class="hero6 hero-all" title="Voir tout les articles">
        <img width="48px" height="48px" src="../../../assets/img/go.png" alt="Tuut les articles">
    </div>
</div>