.footer {
    width: 100%;
    padding: 24px 12%;
    background-color: var(--clr-accent-selected);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 0;
}