.navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px 15%;
}


.navbar-logo {
    color: var(--clr-text);
    font-size: 18px;
    font-weight: 700;
    line-height: 0;
}

.logo-design {
    font-size: 32px;
    font-weight: 700;
    color: var(--clr-accent-selected);
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.navbar-link {
    text-decoration: none;
    color: var(--clr-text);
    font-weight: 600;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: .3s;
    height: fit-content;
    padding-bottom: 4px;
}


.navbar-link:hover {
    border-bottom: 2px solid var(--clr-accent-selected);
}

@media screen and (max-width: 600px) {
    .navbar {
       display: none;
    }
}