<div class="navbar">
    <div class="navbar-logo">Méteo<span class="logo-design">.</span></div>
    <!-- <div class="navbar-links">
        <a class="navbar-link" href="/">Accueil</a>
        <a class="navbar-link" href="/articles">Articles</a>
        <a class="navbar-link" href="/categories">Catégories</a>
    </div> -->
    <div class="navbar-setting">
        <div *ngIf="themeSelected == 'dark'" (click)="showSettings()"><img src="../../../assets/img/settings-dark.png" width="24px" height="24px" alt="Thème"></div>
        <div *ngIf="themeSelected == 'light'" (click)="showSettings()"><img src="../../../assets/img/settings-white.png" width="24px" height="24px" alt="Thème"></div>
    </div>
</div>