<div class="categories">
    <h2 class="categories-title">Catégories</h2>
    <div class="list">
        <div class="list-item" title="voir la catégorie">
            <div class="item-figure">
                <img class="item-icon" width="24px" height="24px" src="../../../assets/img/history.png" alt="histoire">
            </div>
            <div class="item-name">Histoire</div>
        </div>
        <div class="list-item" title="voir la catégorie">
            <div class="item-figure">
                <img class="item-icon" width="24px" height="24px" src="../../../assets/img/book-white.png" alt="livre">
            </div>
            <div class="item-name">Littérature</div>

        </div>
        <div class="list-item" title="voir la catégorie">
            <div class="item-figure">
                <img class="item-icon" width="24px" height="24px" src="../../../assets/img/ui-ux.png" alt="ui/ux">
            </div>
            <div class="item-name">UI/UX</div>

        </div>
        <div class="list-item" title="voir la catégorie">
            <div class="item-figure">
                <img class="item-icon" width="24px" height="24px" src="../../../assets/img/others.png" alt="autres">
            </div>
            <div class="item-name">Autres</div>

        </div>

    </div>
</div>